@media screen and (max-width: 300px) {
    .home-2-heading {
        font-size: 7vw;
        text-align: center;
        position: absolute;
        margin-top: 49vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .home-3-heading {
        margin-top: 65vw;
        left: 50vw;
        transform: translate(-50%, -50%);
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 600px) {
    .topbar {
        padding: 4vw;
    }
    .loader-text {
        font-size: 7vw;
    }
    .logo-top {
        width: 25vw;
    }
    .navbar-a {
        font-size: 8vw;
    }
    .title {
        padding: 4vw;
        font-size: 7vw;
    }
    .browse {
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .browse-btn {
        font-size: 6vw;
    }
    .browse-btn:hover {
        color: #fff;
        font-size: 5.5vw;
    }
    .headings-browse {
        font-size: 5vw;
        text-align: center;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .size-browse-tv_show {
        width: 75vw;
        height: 50vw;
    }
    .details-browse {
        display: inline-block;
        font-size: 3.5vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    table tr {
        display: block;
    }
    table td {
        display: block;
        text-align: center;
    }
    .zoom-hover {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .home-2-heading {
        font-size: 7vw;
        text-align: center;
        position: absolute;
        margin-top: 47vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .home-3-heading {
        margin-top: 60vw;
        left: 50vw;
        transform: translate(-50%, -50%);
        font-size: 3.5vw;
    }
}

@media screen and (min-width:600px) and (max-width: 1024px) {
    .topbar {
        padding: 4vw;
    }
    .logo-top {
        width: 25vw;
    }
    .navbar-a {
        font-size: 8vw;
    }
    .title {
        padding: 4vw;
        font-size: 7vw;
    }
    .browse {
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .browse-btn {
        font-size: 6vw;
    }
    .browse-btn:hover {
        color: #fff;
        font-size: 5.5vw;
    }
    .headings-browse {
        font-size: 5vw;
        text-align: center;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .size-browse-tv_show {
        width: 75vw;
        height: 50vw;
    }
    .details-browse {
        display: inline-block;
        font-size: 3.5vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    table tr {
        display: block;
    }
    table td {
        display: block;
        text-align: center;
    }
    .zoom-hover {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .home-2-heading {
        font-size: 7vw;
        text-align: center;
        position: absolute;
        margin-top: 40vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .home-3-heading {
        margin-top: 52vw;
        left: 50vw;
        transform: translate(-50%, -50%);
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 1280px) {
    .home-2-heading {
        text-align: center;
        position: absolute;
        top: 82vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .home-3-heading {
        top: 90vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
    .home-2-heading {
        text-align: center;
        position: absolute;
        top: 80vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .home-3-heading {
        top: 87vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
}