@media screen and (max-width: 600px) {
    .topbar {
        padding: 4vw;
    }
    .logo-top {
        width: 25vw;
    }
    .navbar-a {
        font-size: 8vw;
    }
    .title {
        padding: 4vw;
        font-size: 7vw;
    }
    .browse {
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .browse-btn {
        font-size: 6vw;
    }
}