@media screen and (max-width: 320px) {
    .home-2-heading {
        font-size: 6.5vw !important;
        text-align: center;
        position: absolute;
        padding-top: 30vw;
        margin-top: 49vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .home-3-heading {
        padding-top: 30vw;
        margin-top: 65vw;
        left: 50vw;
        transform: translate(-50%, -50%);
        font-size: 3.5vw;
    }
    .home-2-heading,
    .home-3-heading {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .topbar {
        padding: 4vw;
    }
    .loader-text {
        font-size: 7vw;
    }
    .logo-top {
        width: 25vw;
    }
    .navbar-a {
        font-size: 8vw;
    }
    .title {
        padding: 5vw;
        padding-top: 6vw;
        padding-bottom: 14vw;
        font-size: 7vw;
    }
    .browse {
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 20vvw;
    }
    .browse-btn {
        font-size: 6vw;
    }
    .browse-btn:hover {
        color: #fff;
        font-size: 5.5vw;
    }
    .headings-browse {
        font-size: 5vw;
        text-align: center;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .size-browse-tv_show {
        width: 75vw;
        height: 50vw;
    }
    .size-browse-popular_show {
        width: 75vw;
        -moz-border-radius: 40px 40px 40px 40px;
        -webkit-border-radius: 40px 40px 40px 40px;
        border-radius: 40px 40px 40px 40px;
        overflow: hidden;
        padding: 2vw 2vw 2vw 2vw;
        height: 50vw;
    }
    .details-browse {
        display: inline-block;
        font-size: 3.5vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    table tr {
        display: block;
    }
    table td {
        display: block;
        text-align: center;
    }
    .zoom-hover {
        margin-left: 10vw;
        margin-bottom: 15vw;
        margin-right: 10vw;
    }
    .home-2-heading,
    .home-3-heading {
        width: 80%;
    }
    .home-2-heading {
        padding-top: 20vw;
        font-size: 7.2vw;
        text-align: center;
        position: absolute;
        margin-top: 40vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .home-3-heading {
        padding-top: 20vw;
        margin-top: 57vw;
        left: 50vw;
        transform: translate(-50%, -50%);
        font-size: 6.3vw;
    }
    .heading-money-heise {
        padding-top: 8vw;
        font-size: 8vw;
    }
    .heading-money-heise-2 {
        font-size: 6vw;
        padding-bottom: 2vw;
    }
    .alert {
        margin-right: 10vw;
        margin-left: 10vw;
        margin-top: 4vw;
        letter-spacing: 0.5mm;
        font-size: 2.7vw;
    }
}

@media screen and (min-width:600px) and (max-width: 1024px) {
    .topbar {
        padding: 4vw;
    }
    .loader-text {
        font-size: 7vw;
    }
    .logo-top {
        width: 25vw;
    }
    .navbar-a {
        font-size: 8vw;
    }
    .title {
        padding: 5vw;
        padding-top: 6vw;
        padding-bottom: 14vw;
        font-size: 7vw;
    }
    .browse {
        padding-top: 4vw;
        padding-bottom: 4vw;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 20vvw;
    }
    .browse-btn {
        font-size: 6vw;
    }
    .browse-btn:hover {
        color: #fff;
        font-size: 5.5vw;
    }
    .headings-browse {
        font-size: 5vw;
        text-align: center;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .size-browse-tv_show {
        width: 75vw;
        height: 50vw;
    }
    .size-browse-popular_show {
        width: 75vw;
        -moz-border-radius: 40px 40px 40px 40px;
        -webkit-border-radius: 40px 40px 40px 40px;
        border-radius: 40px 40px 40px 40px;
        overflow: hidden;
        padding: 2vw 2vw 2vw 2vw;
        height: 50vw;
    }
    .details-browse {
        display: inline-block;
        font-size: 3.5vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    table tr {
        display: block;
    }
    table td {
        display: block;
        text-align: center;
    }
    .zoom-hover {
        margin-left: 10vw;
        margin-bottom: 15vw;
        margin-right: 10vw;
    }
    .home-2-heading,
    .home-3-heading {
        width: 80%;
    }
    .home-2-heading {
        padding-top: 20vw;
        font-size: 7.2vw;
        text-align: center;
        position: absolute;
        margin-top: 40vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .home-3-heading {
        padding-top: 20vw;
        margin-top: 57vw;
        left: 50vw;
        transform: translate(-50%, -50%);
        font-size: 6.3vw;
    }
    .heading-money-heise {
        padding-top: 8vw;
        font-size: 8vw;
    }
    .heading-money-heise-2 {
        font-size: 6vw;
        padding-bottom: 2vw;
    }
    .alert {
        margin-right: 10vw;
        margin-left: 10vw;
        margin-top: 4vw;
        letter-spacing: 0.5mm;
        font-size: 2.7vw;
    }
}

@media screen and (max-width: 1280px) {
    .home-2-heading {
        text-align: center;
        position: absolute;
        top: 82vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .home-3-heading {
        top: 90vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {
    .home-2-heading {
        text-align: center;
        position: absolute;
        top: 80vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .home-3-heading {
        top: 87vw;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .alert {
        margin-right: 32.5vw;
        margin-left: 34.5vw;
    }
}