@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
body {
    background-image: radial-gradient(circle, #020202, #000, #000);
    scroll-behavior: smooth;
}

main {
    height: 100%;
}

.logo-top {
    margin-left: 1vw;
    width: 10vw;
    margin-top: 1vw;
    animation: 2s hue-rotate infinite ease-in-out;
    margin-bottom: 1vw;
}

@keyframes hue-rotate {
    0% {
        filter: hue-rotate(340deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(340deg);
    }
}

.btn-primary {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.btn-primary:hover {
    background-color: rgb(0, 0, 0, 0);
    color: #000;
    border: none;
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.topbar {
    background-image: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0));
}

article {
    position: relative;
    z-index: 1;
}

main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background: url('../assets/bg-home.jpg') no-repeat center center/cover;
}

.navbar-a {
    text-transform: uppercase;
    justify-content: end;
    text-align: right;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    display: block;
    line-height: 20px;
    color: #d83a3a;
    font-size: 2vw;
    transition: all .4s;
}

.navbar-a:hover {
    color: #d83a3a;
}

.home {
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
}

.title {
    text-shadow: 0 0 20px #000;
    margin-top: 10%;
    font-size: 3.5vw;
    letter-spacing: 1mm;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
}

.browse {
    padding: 1vw 0.5vw 1vw 0.5vw;
    background-color: #d83a3a;
    color: #fff;
    border-color: #d83a3a;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
}

.browse-btn:hover {
    color: #fff;
    font-size: 2.45vw;
}

.browse-btn {
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 2.4vw;
    text-transform: uppercase;
    padding: 1vw;
    font-weight: 200;
}

.headings {
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 2vw;
    padding-bottom: 5vw;
}

.headings-browse {
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2vw;
    padding-top: 2vw;
}

.size-browse-tv_show {
    width: 600px;
    height: 350px;
    transition: 0.4s all ease-in-out;
    vertical-align: middle;
    padding: 0.3vw;
    box-shadow: 0 0 20px #020202;
    border-radius: 25px;
}

.size-browse-tv_show:hover {
    transform: scale(1.1);
}

.zoom-hover {
    display: inline-block;
    overflow: hidden;
    border-radius: 25px;
    justify-content: center;
    border: solid 2px rgb(225, 70, 70, 0.5);
    margin-top: 2vw;
    margin-left: 4vw;
    box-shadow: 0 0 20px #000000;
    transition: 0.4s all ease-in-out;
}

.size-browse-tv_show-text {
    margin-left: 4vw;
    padding-bottom: 15vw;
}

.details-browse {
    margin-right: 6vw;
    margin-left: 2vw;
    padding: 1vw;
    border: 2px solid rgb(225, 70, 70, 0.5);
    border-radius: 25px;
    margin-top: 2vw;
    box-shadow: 0 0 20px #000000;
    font-size: 1.2vw;
    background-color: rgb(0, 0, 0, 0.7);
    filter: opacity(1);
}

.swiper-container {
    margin-right: 2vw;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.7);
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(0, 0, 0, 0.7);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, );
    background-color: #d83a3a;
}

.netflix-home-video-loop {
    position: relative;
    filter: opacity(0.5);
    width: 100vw;
    height: 100vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.1) 100%);
    overflow-x: hidden;
}

.netflix-video-section {
    overflow-x: hidden;
}

.home-2-heading {
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    font-size: 4.1vw;
    text-align: center;
    position: absolute;
    text-shadow: 0 0 20px #000;
    top: 175%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    letter-spacing: 1mm;
}

.home-3-heading {
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 300;
    text-shadow: 0 0 20px #000;
    font-size: 1.7vw;
    letter-spacing: 1mm;
    text-align: center;
}

.loader {
    background-color: #000;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.loading-netflix {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    padding: 0;
    overflow: hidden;
    position: absolute;
    font-size: 4vw;
    color: #fff;
}

.loading-netflix {
    font-family: 'Nunito Sans', sans-serif;
    content: attr(data-text);
    position: absolute;
    color: #d83a3a;
    top: calc(45vh);
    left: calc(40vw);
    overflow: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    width: 0%;
    animation: fill 2s ease-in-out infinite;
}

.loader-text {
    font-size: 5vw;
}

@keyframes fill {
    0% {
        width: 0%;
        filter: hue-rotate(0deg);
    }
    25% {
        width: 10%;
        filter: hue-rotate(80deg);
    }
    50% {
        width: 30%;
        filter: hue-rotate(150deg);
    }
    75% {
        width: 10%;
        filter: hue-rotate(200deg);
    }
    100% {
        width: 0%;
        filter: hue-rotate(360deg);
    }
}

.la_casa_de_papel {
    width: 100%;
    overflow-x: hidden;
    margin-top: -10vw;
}

.bg_la_casa {
    padding-top: 5vw;
    width: 100vw;
    overflow-x: hidden;
}

.video_money {
    width: 40vw;
    display: inline-block;
    box-shadow: 0 0 30px #000000;
    margin-left: 30vw;
    margin-bottom: 10vw;
    border-radius: 10px 10px 10px 10px;
    border: solid 2px rgb(225, 70, 70, 0.5);
}

.video_money:hover {
    display: inline-block;
    overflow: hidden;
    display: inline-block;
    overflow: hidden;
    border-radius: 25px;
    justify-content: center;
    box-shadow: 0 0 20px #000000;
    transition: 0.4s all ease-in-out;
}

.heading_money {
    text-align: center;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 4.2vw;
    font-weight: 600;
    text-shadow: 0 0 20px #000;
    letter-spacing: 1mm;
}

.heading-money-heise {
    font-size: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    font-weight: 600;
    color: #fff;
    text-align: center;
    letter-spacing: 1mm;
    text-shadow: 0 0 20px #000;
}

.heading-money-heise-2 {
    font-size: 2vw;
    padding-top: 1.5vw;
    font-weight: 600;
    color: #fff;
    text-align: center;
    letter-spacing: 1mm;
    text-shadow: 0 0 20px #000;
}

.size-browse-popular_show {
    width: 600px;
    height: 350px;
    transition: 0.4s all ease-in-out;
    vertical-align: middle;
    padding: 0.3vw;
    box-shadow: 0 0 20px #020202;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    border-radius: 8%;
}

.size-browse-popular_show:hover {
    transform: scale(1.1);
}

.alert {
    padding: 20px;
    box-shadow: 0 0 20px #000;
    border-radius: 20px;
    background-color: rgb(216, 58, 58, 0.7);
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1mm;
    color: white;
    opacity: 1;
    margin-right: 29vw;
    margin-left: 30vw;
    margin-top: 2vw;
    font-size: 0.8vw;
    transition: 0.7s opacity ease-out;
    margin-bottom: 15px;
}

.alert.success {
    background-color: rgb(216, 58, 58, 0.7);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #fcff4d;
}