@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
body {
    background-image: radial-gradient(circle, #020202, #000, #000);
}

.logo-top {
    margin-left: 1vw;
    width: 10vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.btn-primary {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.btn-primary:hover {
    background-color: rgb(0, 0, 0, 0);
    color: #000;
    border: none;
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.topbar {
    background-image: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0));
}

article {
    position: relative;
    z-index: 1;
}

main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background: url('../assets/bg-home.jpg') no-repeat center center/cover;
}

.navbar-a {
    text-transform: uppercase;
    justify-content: end;
    text-align: right;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    display: block;
    line-height: 20px;
    color: #d83a3a;
    font-size: 2vw;
    transition: all .4s;
}

.navbar-a:hover {
    color: #d83a3a;
}

.home {
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
}

.title {
    margin-top: 10%;
    font-size: 3.5vw;
    letter-spacing: 1mm;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
}

.browse {
    padding: 1vw 0.5vw 1vw 0.5vw;
    background-color: #d83a3a;
    color: #fff;
    border-color: #d83a3a;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
}

.browse-btn:hover {
    color: #fff;
    font-size: 2.45vw;
}

.browse-btn {
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    font-size: 2.4vw;
    text-transform: uppercase;
    padding: 1vw;
    font-weight: 200;
}

.headings {
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 2vw;
}

.headings-browse {
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2vw;
    padding-top: 2vw;
}

.size-browse-tv_show {
    width: 600px;
    height: 350px;
    transition: 0.4s all ease-in-out;
    vertical-align: middle;
    padding: 0.3vw;
    box-shadow: 0 0 20px #020202;
    border-radius: 25px;
}

.size-browse-tv_show:hover {
    transform: scale(1.1);
}

.zoom-hover {
    display: inline-block;
    overflow: hidden;
    border-radius: 25px;
    justify-content: center;
    border: solid 2px #e14646;
    margin-top: 2vw;
    margin-left: 4vw;
    transition: 0.4s all ease-in-out;
}

.size-browse-tv_show-text {
    margin-left: 4vw;
    padding-bottom: 15vw;
}

.details-browse {
    margin-right: 6vw;
    margin-left: 2vw;
    padding: 1vw;
    border: 2px solid #e14646;
    border-radius: 25px;
    margin-top: 2vw;
    font-size: 1.2vw;
    background-color: rgb(0, 0, 0, 0.7);
    filter: opacity(1);
}

.swiper-container {
    margin-right: 2vw;
}